@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: Montserrat;
  box-sizing: border-box;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.header {
  background: #081130;
  background-image: url("./img/bg.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  color: #fff;
}
.header__contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.berry-header1 {
  position: absolute;
  top: -100px;
  left: -450px;
  rotate: 100deg;
}

.berry-header2 {
  position: absolute;
  top: -200px;
  right: -450px;
  rotate: -180deg;
}

.berry-header3 {
  position: absolute;
  top: 550px;
  right: -180px;
}

.leaf-header1 {
  position: absolute;
  width: 275px;
  height: 286px;
  left: -400px;
  top: 650px;
  rotate: 30deg;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 37px;
}

.logo {
  color: #fff;
  font-size: 21px;
  font-weight: 400;
}

.adres {
  margin-right: 69px;
  display: flex;
  text-wrap: wrap;
  gap: 12px;
}
.adres__text {
  font-size: 12px;
  font-weight: 500;
}

.telephone {
  display: flex;
  gap: 13px;
}
.telephone__text_num {
  font-size: 20px;
  font-weight: bold;
}
.telephone__text_hw {
  font-size: 13px;
  font-weight: 400;
}

.take-catalog {
  position: relative;
  padding-bottom: 525px;
}
.take-catalog__info {
  margin-top: 219px;
  max-width: 647px;
}
.take-catalog__text {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 24px;
  line-height: 60px;
}
.take-catalog__text_i {
  font-size: 24px;
  margin-bottom: 40px;
  line-height: 143%;
}

.btn-silver {
  padding: 10px 18px;
  border-radius: 5px;
  background-color: #F2F6FA;
  color: #2E363E;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 24px;
  cursor: pointer;
  border: none;
}

.btn-pre {
  display: flex;
  align-items: center;
  gap: 20px;
}
.btn-pre__orange {
  padding: 30px 50px;
  background-color: #FED84C;
  font-size: 18px;
  font-weight: 400;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}
.btn-pre__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 160%;
}

.cont {
  color: #2E363E;
  position: relative;
}
.cont__pre {
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 80px;
}
.cont__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.cont__cards_i {
  border-radius: 10px;
  box-shadow: 0 0px 10px #F2F6FA;
}

.berry-cont1 {
  position: absolute;
  top: 180px;
  left: -180px;
  rotate: 70deg;
}

.leaf-cont2 {
  position: absolute;
  top: 980px;
  right: -160px;
}

.leaf-cont1 {
  position: absolute;
  top: 1280px;
  left: -180px;
  rotate: 270deg;
}

.cake-inf {
  margin: 50px 89px 50px 44px;
}
.cake-inf__name {
  font-size: 24px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 12px;
}
.cake-inf__p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 24px;
}
.cake-inf__price {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 14px;
}
.cake-inf__btn {
  font-size: 18px;
  font-weight: 500;
  padding: 20px 40px;
  background-color: #FED84C;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.oblako1 {
  background: url("./img/01 1.png") no-repeat center;
  height: 330px;
  background-size: cover;
  background-color: #081130;
}

.create-cake {
  background-color: #081130;
  display: flex;
  justify-content: center;
  gap: 84px;
  color: #FFF;
}
.create-cake__photo {
  position: relative;
}
.create-cake__photo img:last-child {
  width: 1090px;
}
.create-cake__info {
  margin-top: 100px;
  max-width: 500px;
}
.create-cake__info_embl {
  max-width: 240px;
  font-size: 10px;
  font-weight: 400;
  border-radius: 5px;
  letter-spacing: 2px;
  background-color: #F2F6FA;
  padding: 10px 18px;
  color: #2E363E;
  text-align: center;
  margin-bottom: 24px;
}
.create-cake__info_title {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 24px;
}
.create-cake__info_text {
  font-size: 21px;
  font-weight: 300;
  margin-bottom: 40px;
}

.berry-create-cake1 {
  position: absolute;
  width: 152px;
  right: -600px;
}

.leaf-create-cake1 {
  position: absolute;
  width: 110px;
  rotate: 270deg;
  left: 400px;
  top: 100px;
}

.chef {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 100px;
}
.chef__info {
  max-width: 580px;
}
.chef__info_spisok {
  max-width: 380px;
  padding-left: 20px;
  color: #5D6AFB;
}
.chef__info_spisok span {
  color: #2E363E;
}
.chef__info_spisok li {
  margin-bottom: 30px;
}
.chef__info_spisok li:last-child {
  margin-bottom: 50px;
}

.oblako2 {
  background: url("./img/02 1.png") no-repeat center;
  margin-top: -330px;
  height: 330px;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.chef-img {
  position: relative;
}

.chef-img__i_f {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 270px;
  height: 60px;
  transform: skew(-7deg);
  background: #2E363E;
  position: absolute;
  top: 520px;
  left: -80px;
}

.chef-img__i_f span {
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  transform: skew(7deg);
}

.chef-img__i_s {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 170px;
  height: 60px;
  transform: skew(-7deg);
  background: #F2F6FA;
  position: absolute;
  top: 580px;
  left: -40px;
}

.chef-img__i_s span {
  font-size: 18px;
  font-weight: 400;
  transform: skew(7deg);
}

.berry {
  position: absolute;
  top: 80px;
  z-index: -1;
}

.leaf {
  position: absolute;
  top: 100px;
  right: 20px;
  z-index: -1;
}

.feedback {
  background: #081130;
  color: #2E363E;
}
.feedback__cont {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.feedback__title {
  text-align: center;
  color: #FFF;
  font-size: 48px;
  font-weight: 500;
}
.feedback__card {
  display: flex;
  background-color: #FFFFFF;
  gap: 54px;
  border-radius: 5px;
  padding-bottom: 70px;
}
.feedback__card_text {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-left: 143px;
  max-width: 460px;
  gap: 24px;
}
.feedback__card_text h3 {
  font-size: 30px;
  font-weight: 500;
}
.feedback__card_text p {
  font-size: 15px;
  font-weight: 400;
  max-width: 430px;
  line-height: 24px;
}
.feedback__card_text a {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
.feedback__card_img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}
.feedback__card_img img {
  margin-bottom: 30px;
}
.feedback__card_img h5 {
  margin-bottom: 6px;
  font-size: 21px;
  font-weight: 500;
}
.feedback__card_img p {
  font-size: 16px;
  font-weight: 400;
  color: #A6AEB6;
}
.feedback__btn {
  display: flex;
  gap: 24px;
  margin: 0 auto;
}
.feedback__btn_f {
  border: none;
  width: 66px;
  height: 66px;
  font-size: 50px;
  font-weight: 500;
  background-color: #FED84C;
  border-radius: 50%;
  cursor: pointer;
}

.oblako3 {
  background: #081130;
  background-image: url("./img/04 1.png");
  height: 284px;
}

.orders {
  color: #2E363E;
  text-align: center;
}
.orders__title {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 14px;
}
.orders__text {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 80px;
}
.orders__grid {
  max-width: 1920px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 9px;
}
.orders__grid img {
  display: inline-grid;
  max-width: 625px;
}

.oblako4 {
  background: #081130;
  background-image: url("./img/05 1.png");
  height: 284px;
}

.about {
  background-color: #081130;
  color: #2E363E;
}
.about__form {
  background-color: #FFF;
  text-align: center;
  border-radius: 8px;
  padding-bottom: 70px;
}
.about__form h3 {
  padding-top: 70px;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 12px;
}
.about__form p {
  font-size: 21px;
  font-weight: 400;
  margin-bottom: 36px;
}
.about__form_i {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 24px;
}
.about__form_i input {
  width: 380px;
  height: 85px;
  border-radius: 8px;
  border: none;
  background: #F2F6FA;
  font-size: 15px;
  font-weight: 300;
}
.about__form_i button {
  width: 380px;
  height: 85px;
  border-radius: 8px;
  border: none;
  background: #FED84C;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
}
.about__form label {
  color: #7E868E;
  font-size: 11px;
  font-weight: 300;
}
.about__tel::-moz-placeholder {
  background-image: url("./img/icon/Phone.png");
  background-repeat: no-repeat;
  padding-left: 60px;
}
.about__tel::placeholder {
  background-image: url("./img/icon/Phone.png");
  background-repeat: no-repeat;
  padding-left: 60px;
}

.footer {
  background-color: #081130;
  color: #7E868E;
  font-size: 12px;
  font-weight: 300;
  padding-top: 80px;
  text-align: center;
}
.footer__cont {
  padding-bottom: 80px;
}
.footer__nav {
  display: flex;
  margin-bottom: 22px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 43px;
}
.footer__nav a {
  text-decoration: none;
  color: #7E868E;
}/*# sourceMappingURL=style.css.map */